<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script>
        window.onload = function() {
            var submitButton = document.querySelector('button[type="submit"]');
            submitButton.disabled = true;
        };

        function correctCaptcha(response) {
            document.getElementById("resp").value = response;
            var submitButton = document.querySelector('button[type="submit"]');
            submitButton.disabled = false;
        }
    </script>
</head>
<body>
    <div class="container mt-5 text-center">
        <h1>Split and Plot</h1>
        <h2>Split image and plot color distribution graphs</h2>
        <form action="/split_and_plot" method="post" enctype="multipart/form-data" class="d-inline-block text-left">
            <input type="file" name="file" required>
            <br>
            <div class="form-group">
                <input type="hidden" class="form-control" id="resp" name="resp" value="0" required>
            </div>
            <div class="form-group">
                <div class="g-recaptcha" id="rcaptcha" data-sitekey="6LdMQuYpAAAAAEC7swo8A9nhB3vweqmE2AXSSR4o" data-callback="correctCaptcha"></div>
            </div>
            <button type="submit">Split and Plot</button>
        </form>
    </div>
</body>
</html>



